<div class="edit-modal">
    <h3> {{ ctrl.directReports[ctrl.user.value] ? 'Grant' : 'Recommend' }} Compentency</h3>
    <span class="fa fa-times" ng-click="modal.dismiss()"></span>
  <div class="actions">
    <div>
      <span class="grant-category">Tier: {{modal.context.competency.rank}}</span>
      <span class="grant-category">Category: {{modal.context.competency.category}}</span>
    </div>
    <div class="grant-name">{{modal.context.competency.name}}</div>
    <th-textarea
      ng-model="modal.context.grant.reason"
      with-label="Reason"
      rows="10"
      >
    </th-textarea>
    <th-button type="create" ng-if="modal.context.canGrant" 
               ng-click="modal.confirm(modal.context)"> Grant </th-button>
    <th-button type="create" ng-if="!modal.context.canGrant" 
               ng-click="modal.confirm(modal.context)">Recommend</th-button>
    <th-button type="cancel" ng-click="modal.dismiss()">Cancel</th-button>
  </div>
</div>
